/* uploading modal */

#uploaderModal{

	font-size: 14px;

	p{
		line-height: 34px;
		padding-left:6px;		
	}

	.modal-well{
		padding:3px;
		border: 1px solid #cccccc;
		background: #fff;
		box-shadow: inset 0px 0px 15px #fafafa;
		position: relative;
		min-height: 0;		
		margin-bottom: 8px;		
		border-radius: 4px;		
	}

	textarea{
		padding: 10px!important;
	}

	.modal-content{
		background: #fff;
	}

	h1{
		text-align:center;
		font-size:24px;
	}

	.modal-body{
		padding: 15px 25px 25px 25px;
	}

	.modal-dialog {
		width: 600px;
	}

	textarea{
		color: #3a2444;
		padding: 13px;
		resize: none;
		width: 100%;
		margin-bottom: 0;
	}

	textarea::-webkit-input-placeholder { /* WebKit browsers */
    	color:#3a2444;
	}
	textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:#3a2444;
	    opacity:  1;
	}
	textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:#3a2444;
	    opacity:  1;
	}
	textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:#3a2444;
	}

	select{
		display:none;
		width: 100%;
		height: 42px;
		padding-left: 6px;
	}

	.button-container{
		text-align:center;
	}

	.alert-info{
		background: #fff;
	}

}