/* uploading modal */

#uploaderModal{

	p{
		line-height: 34px;
		padding-left:10px;
		font-size: 14px;
	}

	.well{
		padding:3px;
	}

	.modal-content{
		background: #fff;
	}

	h1{
		text-align:center;
		font-size:24px;
	}

	.modal-body{
		padding: 15px 25px 25px 25px;
	}

	.modal-dialog {
		width: 600px;
	}

	textarea{
		color: #3a2444;
		padding: 13px;
		resize: none;
		width: 100%;
		margin-bottom: 0;
	}

}