body{
	background: #f7f5f2;	
	color:#3a2444;
	min-height: 0;
	padding-top: 42px;
}

h1,h2,h3,h4,h5,h6{
	color:#3a2444;
}

.wrap{
}



.form-control:focus {
    border-color: rgba(58, 36, 68,0.7);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(58, 36, 68,0.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(58, 36, 68,0.8)
}



/* Modals */

.modal .row{
	
}

.modal h1{
	font-size:18px;
	font-weight: bold;
	margin-top:0;
	margin-bottom:12px;
}

.modal .heading span{
	font-weight: normal;
	font-size: 14px;
}

span.underline{
	text-decoration: underline;
}

.modal-content{
	position: relative;
}

.modal-header{
	position: relative;
}

.modal-dialog{
	width:960px;
}

.modal-body{
	padding: 0;
}

.modal-dialog button.close{
	position: absolute;
	top:-2px;
	right:-2px;
	background: url(../img/modal-corner-close.png) no-repeat right top;
	width: 50px;
	height: 50px;
	opacity: 1;
	color:#fff;
	margin-top:0;
	z-index:2000;
}

.modal-dialog button.close span{
	position: absolute;
	right:7px;
	top:3px;
	display: inline-block;
	text-shadow: inset 1px 1px  #000;
}

.modal-dialog button.close:focus,
.modal-dialog button.close:hover span{
	border:none;
	outline:0;
	text-shadow:none;
}

.modal section{		
	padding:30px;
}

.modal section:last-child{	
	margin-bottom:0;	
}

.rule{
	border-top:1px solid #dddddd;
}

.horizontal{
	position: absolute;
	width:100%;	
	height:1px;
}

.modal .left,
.modal .right{
	overflow: hidden;
}

.modal .left{	
	border-right: 1px solid #dddddd;
}

.modal .right .horizontal {
	margin-left:-30px;
}

.modal .left section{
	padding-right:15px;
}

.modal .right section{
	padding-left:15px;
}




/* Viewing item modal */



.viewingItem{

}

.viewingItem .main{
	display:inline-block;
}

.viewingItem .main img{
	margin-bottom:0;
}

.viewingItem .gallery{

}

section.itemDetails button.like{
	margin-bottom:10px;
}

.viewingItem p.description{
	margin-bottom: 0;
}

.viewingItem a.moreInfo{
	display: inline-block;
	margin-bottom: 10px;
	text-decoration: underline;
	position:relative;
	line-height:160%;
}

.viewingItem a.moreInfo span{
	font-size:0.8em;
	line-height: inherit;
	
}

.viewingItem .heading{
	margin-top: 0;
	margin-bottom:15px;
	font-weight: bold;
}

.viewingItem .price{
	text-align: left;
	font-weight:bold;
	font-size:20px;
}

a.similar{
	color:#797170;
	text-decoration:underline;
}

section.recommendations .title{
	color:#797170;
	font-size:14px;
	font-weight: bold;
	margin-top:0;
	margin-bottom: 25px
}

section.recommendations .media-heading{
	font-size:14px;
	
}







/* Controls */

.controls{
	margin-bottom: 25px;
}

.controls button{
	margin-left:8px;
}

button.addphotos{
	
}

button.addphotos{
	padding-left:40px;
}

button.addphotos:before{
	background-image:url(../img/photos-controls-addphotos.png);
	background-repeat: no-repeat;
	background-position:10px center;
	content:" ";
	position: absolute;
	width:100%;
	height: 100%;
	top:0;
	left:0;
}

a.albumBack{
	position: relative;
	color:#c0b3c7;
	text-decoration: underline;
}

a.albumBack:before{
	position: absolute;
	content:"<";
	left:-16px;
	top:-2px;
}

a.addPhotosLink{
	position: relative;
	text-decoration: underline;
}

a.addPhotosLink:before{
	position: absolute;
	content:" ";
	width:18px;
	height:100%;
	top:0px;
	left:-27px;
	background: url(../img/photos-controls-addphotos2.png);
}

.photoContainer{
	position: relative;
}

.albumPhoto{
	margin-bottom: 25px;
}

.albumPhoto .frame{

	z-index:1000;
	width:100%;
	height:100%;
}

.albumPhoto .photo{
	position: absolute;
	z-index:1000;
	width:90%;
	height:90%;
	top:5%;
	left:5%;
}

.albumPhoto a.caption{
	display: block;
	text-align:center;
	text-decoration: none;
	font-size: 0.9em
}

.albumPhoto .caption span{
	text-decoration: underline;
}


/* Navigation */

.navbar-brand{
	padding: 20px 15px;
}

.navbar-default .navbar-brand{
	color:#fff;
}

.navbar{
	background:url(../img/nav-bg.jpg);
	border-bottom:2px solid #000;
}

.navbar-default .navbar-nav>li{
	padding-left:1px;
	padding-right:1px;
}

.navbar-nav>li>a{
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-default .navbar-nav>li>a {
	color:#fff;
	text-shadow:1px 2px 2px rgba(0,0,0,0.7);	
}

.navbar-default .navbar-nav>li.active,
.navbar-default .navbar-nav>li.active .handle{
	border-right:1px solid #000;
	border-left:1px solid #000;
	background:#2d1d35;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
	color:#fff;
	background:#2d1d35;	
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
    color:#fff;
    background-color: transparent
}

#nav-main{
	border-left: 1px solid #6b4c7a;
}




/* Icons */
#nav-right li > a{
	text-indent:-9999px;
	background-position:center center;
	background-repeat: no-repeat;
	padding-left:10px;
	padding-right:10px;
	position: relative;
}

#nav-right li .subMenu{
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	background:#2d1d35;
	position: absolute;	
	margin-top:1px;	
	
	right: -1px;
	white-space:nowrap;
	zoom:0.1;
	visibility: hidden;
	transition: zoom 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-webkit-transition: zoom 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* Safari */

}

#nav-right li.active .subMenu{
	zoom:1;
	visibility: visible;
}

#nav-right li .subMenu .body{
	z-index:3;
	position: relative;	
}

#nav-right li .subMenu:before{
	-webkit-box-shadow: inset 0px 5px 13px 0px #190e2e;
	-moz-box-shadow:    inset 0px 5px 13px 0px #190e2e;
	box-shadow:         inset 0px 5px 13px 0px #190e2e;
	content:" ";
	position: absolute;
	width: 100%;
	height:100%;
	z-index:1;
	top:0;
	left:0;
}

#nav-right li .subMenu:after{
	content: " ";
	z-index:2;
	position: absolute;
	background:  #2d1d35 ;
	width:56px;
	height: 15px;
	top:0;
	right:0px;
	
}



#nav-right li.active a div,
#nav-right li.active a div.lineFix{
	height:1px;
	display: block;
	background: #2d1d35;
	position:absolute;
	bottom:-1px;
	left:-1px;
	right:-1px;
}

.input-group { z-index:3; }

#nav-right li .subMenu p{
	color:#fff;
}

#nav-right li.inbox a{
	background-image: url(../img/nav-messages.png);
}

#nav-right li.inbox a:hover,
#nav-right li.inbox.active a{
	background-image: url(../img/nav-messages-hover.png);
}

/* Search */

#nav-right li.search{
}

#nav-right li.search a{
	background-image: url(../img/nav-search.png);	
}

#nav-right li.search a:hover,
#nav-right li.search.active a{
	background-image: url(../img/nav-search-hover.png);
}

#nav-right li.search a{
	
}

#nav-right li.search .subMenu{
	padding:13px;
}

#nav-right li.search .subMenu .form-control,
#nav-right li.search .subMenu .btn{
	display: block;
	float: left;
}

#nav-right li.search .subMenu .form-control{
	width:170px;
	background:#1c1222;
	color:#b1a9a5;
	font-size:0.8em;
	border:1px solid #000;
	border-bottom:1px solid #4c3657;
}

#nav-right li.search .subMenu .btn{
	border:1px solid #000;
	text-shadow:1px 1px #fff;
	color:#2d2827;
}

#nav-right li.search .subMenu .btn:hover{

}

#nav-right li.search .subMenu .btn:active{

}



/* Notifications style */


#nav-right li.notifications a{
	background-image: url(../img/nav-notifications.png);
	position: relative;
}

#nav-right li.notifications a:hover,
#nav-right li.notifications.active a{
	background-image: url(../img/nav-notifications-hover.png);
}

#nav-right li.notifications a span {	
	position: absolute;
	display: inline-block;
	text-indent: -2px;
	top:6px;
	right:5px;
	border-radius: 50%;
	background:#f5344e;
	padding:0px;
	text-align:center;
	border:1px solid rgba(0,0,0,0.7);
	font-size:0.75em;
	
}


/* Profile styles */

#nav-right li.profile > a{
	position: relative;
	text-indent:0px;
	padding:15px 45px 12px 15px;	
}

#nav-right li.profile > a > img{
	position:absolute;
}

#nav-right li.profile > a > span{
	background-repeat: ;
	display: block;
	font-size: 0.9em;
	padding-left:45px;
	line-height: 16px;
}

#nav-right li.profile.active,
#nav-right li.profile.active > a{
	background:transparent;
	border:none;
}

#nav-right li.profile a div.handle,
#nav-right li.profile.active a div.handle{
	background-image:url(../img/nav-profile-chevron.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	bottom: -4px;
	height: 100%;
	width:30px;
	margin-bottom:2px;
	right:0;
	top:0;
	left:auto;
}

#nav-right li.profile.active a div.lineFix{
	bottom: -5px;
	height: 10px;
	left:0;
	right:0;
}

#nav-right li.profile .subMenu{	
	margin-top:2px;
	right:1px;
	padding:10px 18px;

}

.profile .subMenu .body > a{
	color:#fff;
	display: block;
	background-position: left center;
	background-repeat: no-repeat;
	text-indent: 30px;
	font-size:0.9em;
	line-height: 25px
}

.profile .subMenu .body > a.myprofile{
	background-image: url(../img/nav-profile-myprofile.png);
}
.profile .subMenu .body > a.stats{
	background-image: url(../img/nav-profile-statistics.png);
}
.profile .subMenu .body > a.settings{
	background-image: url(../img/nav-profile-settings.png);
}
.profile .subMenu .body > a.logout{
	background-image: url(../img/nav-profile-logout.png);
}

.topMargin{
	margin-top:30px;
}

/* Wells */

.well{
	border:1px solid #cccccc;
	background: #fff;
	box-shadow: inset 0px 0px 15px #fafafa;

}

.well:after{
	border-radius: 4px;
	content:"";	
	height: 100%;
	width:96%;
	display:block;
	position: absolute;
	top:0;
	left:2%;
	z-index:-1;
	opacity: .3;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}




/* Buttons */

.btn-primary{
	position: relative;	
	border:1px solid #000;	
	background: #6c5377; /* Old browsers */
	background: -moz-linear-gradient(top,  #6c5377 0%, #543761 85%, #543761 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c5377), color-stop(85%,#543761), color-stop(100%,#543761)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6c5377 0%,#543761 85%,#543761 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6c5377 0%,#543761 85%,#543761 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6c5377 0%,#543761 85%,#543761 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6c5377 0%,#543761 85%,#543761 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c5377', endColorstr='#543761',GradientType=0 ); /* IE6-9 */

}

.btn-primary:after{
	border-radius: 4px;
	content:"";	
	height: 100%;
	width:100%;
	display:block;
	position: absolute;
	top:0;
	left:0;
	z-index:10;
	opacity: 1;	
	border-top: 1px solid #8e6e9d;
}

.btn-default{
	color: #3a2444;
	border:1px solid #d4cac1;
	background: #f9f8f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f8f7 0%, #f3f1ef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f8f7), color-stop(100%,#f3f1ef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f8f7 0%,#f3f1ef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f8f7 0%,#f3f1ef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f8f7 0%,#f3f1ef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f8f7 0%,#f3f1ef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f7', endColorstr='#f3f1ef',GradientType=0 ); /* IE6-9 */
}


.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active{
	border-color: #444;
}

.like{
	text-indent:18px;
	color:#000;
	position: relative;
}

.star{
	background: url(../img/button-like.png) no-repeat 10px center, #f9f8f7; /* Old browsers */
	background: url(../img/button-like.png) no-repeat 10px center, -moz-linear-gradient(top,  #f9f8f7 0%, #f3f1ef 100%); /* FF3.6+ */
	background: url(../img/button-like.png) no-repeat 10px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f8f7), color-stop(100%,#f3f1ef)); /* Chrome,Safari4+ */
	background: url(../img/button-like.png) no-repeat 10px center, -webkit-linear-gradient(top,  #f9f8f7 0%,#f3f1ef 100%); /* Chrome10+,Safari5.1+ */
	background: url(../img/button-like.png) no-repeat 10px center, -o-linear-gradient(top,  #f9f8f7 0%,#f3f1ef 100%); /* Opera 11.10+ */
	background: url(../img/button-like.png) no-repeat 10px center, -ms-linear-gradient(top,  #f9f8f7 0%,#f3f1ef 100%); /* IE10+ */
	background: url(../img/button-like.png) no-repeat 10px center, linear-gradient(to bottom,  #f9f8f7 0%,#f3f1ef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f7', endColorstr='#f3f1ef',GradientType=0 ); /* IE6-9 */	
}

.heart{
	background: url(../img/button-like-heart.png) no-repeat 10px center, #f9f8f7; /* Old browsers */
	background: url(../img/button-like-heart.png) no-repeat 10px center, -moz-linear-gradient(top,  #f9f8f7 0%, #f3f1ef 100%); /* FF3.6+ */
	background: url(../img/button-like-heart.png) no-repeat 10px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f8f7), color-stop(100%,#f3f1ef)); /* Chrome,Safari4+ */
	background: url(../img/button-like-heart.png) no-repeat 10px center, -webkit-linear-gradient(top,  #f9f8f7 0%,#f3f1ef 100%); /* Chrome10+,Safari5.1+ */
	background: url(../img/button-like-heart.png) no-repeat 10px center, -o-linear-gradient(top,  #f9f8f7 0%,#f3f1ef 100%); /* Opera 11.10+ */
	background: url(../img/button-like-heart.png) no-repeat 10px center, -ms-linear-gradient(top,  #f9f8f7 0%,#f3f1ef 100%); /* IE10+ */
	background: url(../img/button-like-heart.png) no-repeat 10px center, linear-gradient(to bottom,  #f9f8f7 0%,#f3f1ef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f7', endColorstr='#f3f1ef',GradientType=0 ); /* IE6-9 */	

}

.like > div{
	text-indent: 0;
	margin: 0;
	position: absolute;
	display: inline-block;
	border-top: 1px solid #d4cac1;
	border-right: 1px solid #d4cac1;
	border-bottom: 1px solid #d4cac1;
	left: 100%;
	top: 2px;
	padding: 3px 3px 3px 6px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background: #f5f3ee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2U4ZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f5f3ee 0%, #ece8e1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f3ee), color-stop(100%,#ece8e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f3ee 0%,#ece8e1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f3ee 0%,#ece8e1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f3ee 0%,#ece8e1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f3ee 0%,#ece8e1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f3ee', endColorstr='#ece8e1',GradientType=0 ); /* IE6-8 */
}

.like div:before{

}






/* List groups */

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus{
	background:#3e2749;
}

.list-group .badge{
	border-top: 1px solid #8e6e9d;
	background: #6c5377; /* Old browsers */
	background: -moz-linear-gradient(top,  #6c5377 0%, #543761 85%, #543761 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c5377), color-stop(85%,#543761), color-stop(100%,#543761)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6c5377 0%,#543761 85%,#543761 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6c5377 0%,#543761 85%,#543761 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6c5377 0%,#543761 85%,#543761 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6c5377 0%,#543761 85%,#543761 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c5377', endColorstr='#543761',GradientType=0 ); /* IE6-9 */

}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	color: #fff;
	background-color: #3e2749;
	border-color: #6b5176;
}

a.list-group-item.active>.badge, .nav-pills>.active>a>.badge{
	background: #f7f5f2;
	color:#3a2444;
}




/* Tabs */

.nav-tabs{
	border-bottom:1px solid #e5dada;
	color:#6d5478;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background: #f7f5f2;
	font-weight: bold;
	border-bottom-color:transparent;
	color:inherit;
}

.page-tabs{
	text-align:center;
	background:#f0eeea;
	-webkit-box-shadow: inset 0 0 1px 0 rgba(50, 50, 50, 0.2);
	-moz-box-shadow: inset    0 0 1px 0 rgba(50, 50, 50, 0.2);
	box-shadow:  inset        0 0 1px 0 rgba(50, 50, 50, 0.2);
}

.page-tabs li{
	float:none;
	display:inline-block;

}

.page-tabs li a{
	line-height: 44px;
	position: relative;
}




.page-tabs>li.active>a:after{
	content: " ";
	position: absolute;
	height:1px;
	bottom:-1px;
	right:0px;
	left:0px;
	background: #f7f5f2;
}

.page-tabs>li.active>a,
.page-tabs>li.active>a:hover,
.page-tabs>li.active>a:focus{
	background:#f7f5f2;
	color:#2d1d35;
}


/* Controls */




#controls{
	background:#f7f5f2;
	text-align: center;
	line-height: 78px;
}

#controls select{
	display: inline-block;
	width:80px;
}

#controls .slider{
	
}


/* Pills */

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background: #3c2646;
	border-color:;
}




/* Pagination */

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background: #3c2647;
	border-color:#000;
}



a{
	color:#6d5478;
}

p{
	color:#3a2444;
}


/* Main */

#main{
	padding-top: 20px;
}


/* UserTitle */




#userTitle{	
	margin-bottom:20px;
}

#userTitle h1{
	margin-top:0;
}

#userTitle .options{
	text-align: right;
}

#userTitle button{
	position: relative;
}

#userTitle button:before{}

#userTitle button.follow{
	padding-left:30px;
}

#userTitle button.follow:before{
	background-image:url(../img/usertitle-cross.png);
	background-repeat: no-repeat;
	background-position:10px center;
	content:" ";
	position: absolute;
	width:100%;
	height: 100%;
	top:0;
	left:0;
}

#userTitle .duel{
	padding-left:30px;
}

#userTitle .duel:before{
	background-image:url(../img/usertitle-swords.png);
	background-repeat: no-repeat;
	background-position:10px center;
	content:" ";
	position: absolute;
	width:100%;
	height: 100%;
	top:0;
	left:0;
}

#userTitle .mail:before{
	background-image:url(../img/usertitle-mail.png);
	background-repeat: no-repeat;
	content:" ";
	display: inline-block;
	height: 100%;
	width:18px;
	height: 11px;
}

#userTitle .other:before{
	background-image:url(../img/usertitle-chevrons.png);
	background-repeat: no-repeat;
	content:" ";
	display: inline-block;
	height: 100%;
	width:12px;
	height:7px;
}




/* Images */

#headlineGallery{
	margin:15px 0;
	padding-bottom:15px;
	border-bottom:1px solid #e5dada;
}

#images {
	margin-bottom:15px;	
}

#images img{
	margin:auto;
	width:100%;
}

#images button{
	clear:both;
	margin-bottom:15px;
}



/* Wall */

#wall .media{

}

#wall .media > a{
	position: relative;
}

#wall .media > a:after{
	position: absolute;
	border-top: 1px solid #e5dada;
	top: 50%;
	content: " ";
	right: -12px;
	width: 12px;
	height: 10px;
	z-index: 100;
}

#wall .post{
	min-height: 85px;
}

#wall .media:after{
	content:" ";
	clear:both;
}

#wall .media .img-thumbnail{
	background: #e8e5e3;
	border-color: #d4c3c3;
}

#wall textarea{
	color:#3a2444;
	padding: 13px;
	resize: none;
	width:100%;
	margin-bottom: 0;
}

#wall h4 span{
	color:#797170;
	font-size:0.8em;
}

#wall h4 span:before{
	content:" ";
}

#postCreate .uploadphoto{
	background: url(../img/wall-uploadphoto.png) no-repeat left center;
	padding: 10px 0px 10px 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#wall .loadmore{
	margin-bottom: 20px;
	width:100%;
}




/* Comments */

.showAllComments{
	color:#797170;
}

.comments{

}

.comments h4 span{
	color:#797170;
	font-size:0.8em;
}

.comments .media > a:after{
	content: none!important;	
}

.comments textarea{
	width: 100%;
}

#postDisplay .like{
	position: absolute;
	right: 46px;
	top: 30px;
}




/* Profile */

#profilePicture a{
	margin-bottom: 0px;
	z-index:5;
}

#profilePicture h6.location{
	margin-top:0;
	text-align:center;
	z-index:4;
	width:90%;
	margin:0 auto;
	border-top:none;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}




/* Badges */

#badges h5,
#badges p{
	text-align:center;

}

#badges h5{
	font-weight:bold;
}

#badges p{
	font-size:0.9em;
}

#badges ul{
	text-align:center;
	padding:0;
	margin: 0 0 15px 0;
}

#badges li{
	background:url(../img/badge.png) no-repeat;
	display: inline-block;	
	width:65px;
	height:65px;
}

#badges a{
	display: block;
}

#badges button{
	display: block;
	margin: 0 auto 15px auto;
}




/* Photos */




.photos{

}

.item{

}

.item h6{
	text-align: center;
	font-size:15px;
	line-height:23px;
	margin:0;
}

.item.thumbnail{
	margin: 10px;
	padding:4px 22px 4px 22px;
	width:220px;
	float:left;
}

.item > img{
}

.item .like{
	display: block;
	margin: 0 auto 15px auto ;
	position: relative;
}

.item.w1 { width: 100%; }
.item.w2 { width: 50%; }
.item.w3 { width: 33.33%; }
.item.w4 { width: 25%; }

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}





/* Footer */

footer{
	font-size:0.9em;
	background:#fff;
	border-top:#eeeeee 1px solid;
	position: relative;

}

footer:before{
	background: #cccccc;
	height:1px;
	width: 100%;
	position: absolute;
	top:-2px;
	content:"";
}

footer ul{
	text-align: center;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 0px;
	margin-bottom:0;
}

footer ul > li{
	display: inline-block;
	padding:0 15px;

}

footer ul > li > a{
	color:#797170;
	padding:0 15px;
}

#copyright,
footer ul > li {
	margin:0;
	padding:15px 0;
}


#copyright{
	text-align: center;	
	color:#797170;
}

#bottomBar{
	height: 50px;
	background:#3a2444;
}



.clear{
	clear:both;
}



/* Font face */

@font-face {
    font-family: 'source_sans_probold';
    src: url('../fonts/sourcesanspro-bold-webfont.eot');
    src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
